@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: #2f2e41;
}

.container {
  margin-top: 20px;
  background-color: #2f2e41;
}

.display-4 {
  margin-top: 40px;
  color: white;
  justify-self: center;
  align-self: center;
}

.card-body {
  background-color: #2f2e41;
  color: white;
  border-radius: 4px;
}

.button-wrapper .btn {
  margin-bottom: 20px;
}

.project-board {
  color: white;
  background-color: #01baef;
  padding: 10px 22px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.list-group-item.update {
  color: white;
  background-color: #ed3b4b;
}

.list-group-item.board {
  color: white;
  background-color: #ed3b4b;
}

.list-group-item.delete:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: #1a192e5d;
}

.list-group-item.update:hover {
  cursor: pointer;
  background-color: #1a192e5d;
}

.list-group-item.board:hover {
  cursor: pointer;
  background-color: #1a192e5d;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.list-group-item board {
  font-family: "Sora", sans-serif;
}

.form-control::placeholder {
  color: #bbb !important;
}

.dash-board-button {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 25%;
  align-items: center;
  justify-self: center;
}

.main {
  margin-top: 10px;
  background-color: #3f3d56;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  background-color: #3f3d56;
}

.main-content {
  justify-self: start;
  margin-left: 20px;
  color: white;
  width: 80%;
}

.main-content h1 {
  font-size: 2rem;
}

.main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.main-btn {
  font-size: 1rem;
  background-color: #ed3b4b;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.main-btn a:hover {
  color: white;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: all 0.35s;
  border-radius: 4px;
}

.main-btn:hover {
  color: white;
  background: #4c3b92;
}

.main-btn:hover:after {
  width: 100%;
}

#main-img {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90vh;
    margin: 0 auto;
    height: 90vh;
    background-color: #3f3d56;
  }

  .main-content {
    justify-self: center;
    color: white;
    width: 80%;
    margin: 0;
  }

  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  #main-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 2.8rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main-bt {
    padding: 12px 36px;
    margin-top: 2.5rem;
  }
}

.btn-primary {
  font-size: 1rem;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  background-color: #ed3b4b;
}
